In [1]:
import pandas as pd
import numpy as np

In [5]:
np.random.seed(101)
mydata=np.random.randint(0,101,(4,3))

In [3]:
myindex=['CA','NY','TX','AZ']

In [4]:
mycolumn=['JAN','FEB','MAR']

In [10]:
df=pd.DataFrame(mydata,myindex,mycolumn)

In [11]:
df

    JAN  FEB  MAR
CA   95   11   81
NY   70   63   87
TX   75    9   77
AZ   40    4   63

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, CA to AZ
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   JAN     4 non-null      int32
 1   FEB     4 non-null      int32
 2   MAR     4 non-null      int32
dtypes: int32(3)
memory usage: 80.0+ bytes

In [13]:
pwd

'C:\\Users\\Kiran'